<a href="https://colab.research.google.com/github/2303a51884/2303a51884-pyds-b-02/blob/main/lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd


df = pd.read_csv("/content/sales_data.csv")


df = df.dropna(subset=["Product", "Quantity"])


df["Price"] = df["Price"].fillna(df["Price"].mean())


df["Total"] = df["Total"].fillna(df["Quantity"] * df["Price"])


high_value = df[df["Total"] > 1000]
print("Cleaned Sales Data:\n", df)
print("\nTransactions with Total > 1000:\n", high_value)

Cleaned Sales Data:
    Invoice_No   Customer_Name   Product  Quantity       Price        Total
0         101     Ross Taylor    Laptop       2.0  500.000000  1000.000000
1         102    Rachel Green    Mobile       1.0  700.000000   700.000000
3         104   Chandler Bing  Keyboard       3.0  516.666667   450.000000
4         105  Joey Tribbiani   Monitor       2.0  300.000000   600.000000
5         106   Phoebe Buffay     Mouse       5.0  516.666667  2583.333333
6         107     Ross Taylor    Tablet       1.0  800.000000   800.000000
7         108    Rachel Green    Laptop       3.0  520.000000  1560.000000
8         109   Chandler Bing    Mobile       2.0  516.666667  1033.333333
9         110   Monica Geller   Monitor       4.0  280.000000  1120.000000

Transactions with Total > 1000:
    Invoice_No  Customer_Name  Product  Quantity       Price        Total
5         106  Phoebe Buffay    Mouse       5.0  516.666667  2583.333333
7         108   Rachel Green   Laptop       3.0  520.000000  1560.000000
8         109  Chandler Bing   Mobile       2.0  516.666667  1033.333333
9         110  Monica Geller  Monitor       4.0  280.000000  1120.000000

In [3]:
import pandas as pd


df = pd.read_csv("/content/applicants.csv")
print("Original Data:\n", df)


df = df.dropna(subset=["Python_Score"])
print("After dropping missing Python_Score:\n", df)


df["Experience_Years"] = df["Experience_Years"].fillna(0)
print("After filling missing Experience_Years:\n", df)


filtered = df[(df["Python_Score"] > 80) & (df["Experience_Years"] > 2)]
print("Qualified Applicants:\n", filtered)

Original Data:
    Applicant_ID     Name  Degree  Experience_Years  Python_Score       Status
0             1    Alice  B.Tech               3.0          85.0      Applied
1             2      Bob     MCA               NaN          75.0  Shortlisted
2             3  Charlie    B.Sc               5.0           NaN      Applied
3             4    David     MBA               1.0          90.0      Applied
4             5      Eve  B.Tech               NaN          95.0  Shortlisted
5             6    Frank  M.Tech               4.0          60.0     Rejected
6             7    Grace     BCA               2.0          88.0      Applied
After dropping missing Python_Score:
    Applicant_ID   Name  Degree  Experience_Years  Python_Score       Status
0             1  Alice  B.Tech               3.0          85.0      Applied
1             2    Bob     MCA               NaN          75.0  Shortlisted
3             4  David     MBA               1.0          90.0      Applied
4             5    Eve  B.Tech               NaN          95.0  Shortlisted
5             6  Frank  M.Tech               4.0          60.0     Rejected
6             7  Grace     BCA               2.0          88.0      Applied
After filling missing Experience_Years:
    Applicant_ID   Name  Degree  Experience_Years  Python_Score       Status
0             1  Alice  B.Tech               3.0          85.0      Applied
1             2    Bob     MCA               0.0          75.0  Shortlisted
3             4  David     MBA               1.0          90.0      Applied
4             5    Eve  B.Tech               0.0          95.0  Shortlisted
5             6  Frank  M.Tech               4.0          60.0     Rejected
6             7  Grace     BCA               2.0          88.0      Applied
Qualified Applicants:
    Applicant_ID   Name  Degree  Experience_Years  Python_Score   Status
0             1  Alice  B.Tech               3.0          85.0  Applied